@media screen and  (min-width: 768px) {
  #yqq-footer a {
    color: #AFB7BC;
    line-height: 20px;
    font-size: 14px;
    font-family: "SourceHanSansCN", Candara, "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
  }
  .yqq-footer-right p {
    color: #AFB7BC;
  }
}
@media screen and (max-width: 767px) {
  #yqq-footer {
    font-size: 10px;
  }
  #yqq-footer a {
    color: #AFB7BC;
    line-height: 20px;
    font-family: "SourceHanSansCN", Candara, "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
  }
  .yqq-footer-right p {
    color: #AFB7BC;
  }
  .yqq-footer-bigwechat {
    display: block !important;
  }
  #nav-scroll {
    display: none;
  }
}
#yqq-footer {
  padding: 50px 30px 0 30px;
  background: #2D3234;
}
#yqq-footer .container a {
  color: #ccc;
}
#yqq-footer .container .yqq-footer-top .yqqfooter-left .yqq-footer-title {
  margin: 20px 0 30px 0;
}
#yqq-footer .container .yqq-footer-top .yqqfooter-left .yqq-footer-title a:hover {
  color: rgba(28, 159, 192, 0.856);
  text-decoration: underline;
  cursor: pointer;
}
#yqq-footer .container .yqq-footer-top .yqqfooter-left .yqq-footer-title span {
  display: inline-block;
  color: #AFB7BC;
  margin: 0 2px;
}
#yqq-footer .container .yqq-footer-top .yqq-footer-right p {
  margin: 10px 0 5px 0;
}
#yqq-footer .container .yqq-footer-top .yqq-footer-right p i {
  padding-right: 4px;
}
#yqq-footer .container .yqq-footer-top .yqq-footer-right p a:hover {
  color: rgba(28, 159, 192, 0.856);
  text-decoration: underline;
  cursor: pointer;
}
#yqq-footer .container .yqq-footer-bigwechat {
  border-top: 1px solid #3E4243;
  margin-top: 20px;
  display: none;
}
#yqq-footer .container .yqq-footer-bigwechat .footer-vipcn {
  padding: 20px 0;
}
#yqq-footer .container .yqq-footer-bigwechat .footer-vipcn p {
  text-align: center;
  color: #AFB7BC;
  margin-bottom: 5px;
  margin-top: 10px;
}
#yqq-footer .container .yqq-footer-bigwechat .footer-vipcn p i {
  padding-right: 5px;
}
#yqq-footer .container .yqq-footer-bigwechat .footer-sm-wechat {
  margin: 10px 0 30px 0;
}
#yqq-footer .container .yqq-footer-bigwechat .footer-sm-wechat img {
  width: 180px;
  height: 180px;
  margin-left: 50%;
  transform: translate(-90px);
}
#yqq-footer .container .yqq-footer-base {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #3E4243;
}
#yqq-footer .container .yqq-footer-base .yqq-footer-bot .yqq-filing {
  text-align: center;
  padding: 20px 0;
}
#yqq-footer .container .yqq-footer-base .yqq-footer-bot .yqq-footer-address {
  text-align: center;
}
#yqq-footer .container .yqq-footer-base .yqq-footer-bot .yqq-footer-address span {
  color: #AFB7BC;
}
#yqq-footer .container .yqq-footer-base .yqq-footer-bot .yqq-footer-address a:hover {
  color: rgba(28, 159, 192, 0.856);
  text-decoration: underline;
  cursor: pointer;
}
#nav-scroll {
  position: fixed;
  right: 10px;
  bottom: 70px;
}
#nav-scroll div:hover {
  background: #5f5ff0;
  cursor: pointer;
}
#nav-scroll .right-wechat:hover .nav-wechat {
  display: block;
}
#nav-scroll div {
  margin-top: 3px;
  width: 48px;
  height: 48px;
  background: #149ddd;
  color: #fff;
  text-align: center;
}
#nav-scroll div .yqqicon {
  font-size: 26px;
  display: inline-block;
  margin-top: 50%;
  transform: translateY(-13px);
}
#nav-scroll div .nav-wechat {
  display: none;
  position: absolute;
  right: 59px;
  bottom: 0;
  width: 150px;
  height: 180px;
  background: #fff;
}
#nav-scroll div .nav-wechat img {
  border-bottom: 1px solid #d1cece;
}
#nav-scroll div .nav-wechat p i {
  color: #8a8686;
  padding: 0 3px;
}
#nav-scroll div .nav-wechat p span {
  color: #706d6d;
}
