@media screen and (max-width: 1919px) and (min-width: 768px) {
  .yqq-header {
    height: 420px;
  }
  .yqq-header h2 {
    font-size: 42px;
  }
  .yqq-header h3 {
    font-size: 22px;
  }
  .yqq-team-header {
    height: 420px;
  }
  .yqq-team-header h2 {
    font-size: 42px;
  }
  .yqq-team-header h3 {
    font-size: 22px;
  }
  .yqq-newcenter {
    height: 420px;
  }
  .yqq-newcenter h2 {
    font-size: 42px;
  }
  .yqq-newcenter h3 {
    font-size: 22px;
  }
  .yqq-join-us {
    height: 420px;
  }
  .yqq-join-us h2 {
    font-size: 42px;
  }
  .yqq-join-us h3 {
    font-size: 22px;
  }
  .popover-introduce .popover-model .model-content {
    padding: 30px;
  }
  .yqq-Cooperative {
    height: 420px;
  }
  .yqq-Cooperative h2 {
    font-size: 42px;
  }
  .yqq-Cooperative h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .yqq-header {
    height: 280px;
  }
  .yqq-header h2 {
    font-size: 30px;
  }
  .yqq-header h3 {
    font-size: 16px;
  }
  .yqq-team-header {
    height: 280px;
  }
  .yqq-team-header h2 {
    font-size: 30px;
  }
  .yqq-team-header h3 {
    font-size: 16px;
  }
  .yqq-newcenter {
    height: 280px;
  }
  .yqq-newcenter h2 {
    font-size: 30px;
  }
  .yqq-newcenter h3 {
    font-size: 16px;
  }
  .yqq-join-us {
    height: 280px;
  }
  .yqq-join-us h2 {
    font-size: 30px;
  }
  .yqq-join-us h3 {
    font-size: 16px;
  }
  .yqq-Cooperative {
    height: 280px;
  }
  .yqq-Cooperative h2 {
    font-size: 30px;
  }
  .yqq-Cooperative h3 {
    font-size: 16px;
  }
  .yqq-recruit .container .intention > form {
    margin: 40px 0 !important;
    padding: 20px !important;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .team-one > .photo {
    width: 200px !important;
    height: auto !important;
    padding: 10px !important;
    margin-top: 20px;
  }
  .photoall {
    width: 180px !important;
    height: auto !important;
    padding: 10px ;
    margin-top: 20px;
  }
  .yqq-recruit .container .intention > form {
    margin: 40px !important;
  }
}
@media screen and (max-width: 767px) and (min-width: 540px) {
  .team-one > .photo {
    width: 230px !important;
    height: auto !important;
    padding: 10px !important;
    margin-top: 20px;
  }
  .photoall {
    width: 230px !important;
    height: auto;
    padding: 10px ;
    margin-top: 20px;
  }
}
@media screen and (max-width: 539px) and (min-width: 321px) {
  .team-one > .photo,
  .photoall {
    width: 180px !important;
    height: auto !important;
    padding: 10px !important;
    margin-top: 20px;
  }
}
@media screen and (min-width: 992px) {
  .yqq-recruit .container .intention > form {
    width: 800px ;
    margin: 40px auto !important;
  }
}
#yqq .clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#yqq .yqq-header {
  width: 100%;
  background: url('../img/bk-about.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yqq .yqq-header .yqq-title h2 {
  color: rgba(255, 255, 255, 0.8);
}
#yqq .yqq-header .yqq-title h3 {
  margin-top: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
#yqq .yqq-content-intro .container .yqq-content .yqq-mark {
  padding: 30px 50px;
  margin: 15px 0 35px 0;
  position: relative;
  background: #F8F8F9;
}
#yqq .yqq-content-intro .container .yqq-content .yqq-mark .bg-success {
  background: #F8F8F9;
  font-size: 14px;
  line-height: 24px;
  color: #999595;
  margin-bottom: 0;
}
#yqq .yqq-content-intro .container .yqq-content .yqq-mark .bg-success:after {
  content: "";
  width: 16px;
  height: 14px;
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  background: url('../img/blockquote.png') no-repeat 0 0;
}
#yqq .yqq-content-intro .container .yqq-content .yqq-mark .bg-success:before {
  content: "";
  width: 16px;
  height: 14px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: url('../img/blockquote.png') no-repeat right 0;
}
#yqq .yqq-content-intro .container .yqq-content p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
}
#yqq .yqq-content-intro .container .yqq-content p b {
  font-weight: 700;
  color: #5f5fec;
}
#yqq .yqq-team-header {
  width: 100%;
  background: url('../img/bk-team.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yqq .yqq-team-header .yqq-title h2 {
  color: rgba(255, 255, 255, 0.8);
}
#yqq .yqq-team-header .yqq-title h3 {
  margin-top: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
#yqq .yqq-content-member {
  padding: 50px  0 100px 0;
}
#yqq .yqq-content-member h2 {
  margin: 50px 0 10px 0;
  font-size: 30px;
  color: #949090;
}
#yqq .yqq-content-member h3 {
  margin-bottom: 30px;
  font-size: 22px;
  color: #949090;
}
#yqq .yqq-content-member ul {
  margin-bottom: 30px;
}
#yqq .yqq-content-member ul li {
  font-size: 14px;
  list-style-type: disc;
  margin-top: 5px;
  color: #666;
  font-family: "SourceHanSansCN", Candara, "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}
#yqq .yqq-content-member .team-scale:hover .img {
  transform: scale(1.1);
  transition: 1s;
}
#yqq .yqq-content-member .icekreditceo {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
#yqq .yqq-content-member .icekreditceo .originator div .photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 48px;
}
#yqq .yqq-content-member .icekreditceo .originator .iceceogly {
  padding: 20px;
}
#yqq .yqq-content-member .originatorall {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
#yqq .yqq-content-member .originatorall .photoall {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
#yqq .yqq-newcenter {
  width: 100%;
  background: url('../img/bk-news.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yqq .yqq-newcenter .yqq-title h2 {
  color: rgba(255, 255, 255, 0.8);
}
#yqq .yqq-newcenter .yqq-title h3 {
  margin-top: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
#yqq .yqq-new-content {
  margin: 100px 0 50px 0;
}
#yqq .yqq-new-content .yqq-new-container .porent-content .proent-item .yqq-laypage:hover {
  border: 1px solid #65dff5;
}
#yqq .yqq-new-content .yqq-new-container .porent-content .proent-item .yqq-laypage {
  display: inline-block;
  padding: 10px;
  border: 1px solid transparent;
  margin: 10px;
}
#yqq .yqq-new-content .yqq-new-container .porent-content .proent-item .yqq-laypage .yqq-laypage-recommend .yqq-laypage-recommend-h3 {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
}
#yqq .yqq-new-content .yqq-new-container .porent-content .proent-item .yqq-laypage .yqq-laypage-recommend .yqq-news-time {
  font-size: 12px;
  color: #666;
  margin: 10px 0;
}
#yqq .yqq-new-content .yqq-new-container .porent-content .proent-item .yqq-laypage .yqq-laypage-recommend .yqq-laypage-paragraph {
  font-size: 12px;
  color: #666;
  margin: 10px 0;
}
#yqq .yqq-new-content .yqq-new-container .porent-content .proent-item .yqq-laypage .laypage-pic {
  max-width: 100%;
  height: auto;
}
#yqq .yqq-new-content .pagination {
  margin-left: 50%;
  transform: translate(-50%);
}
#yqq .yqq-new-content .pagination li a {
  border: none;
  color: #333;
}
#yqq .yqq-join-us {
  width: 100%;
  background: url('../img/bk-joinus.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yqq .yqq-join-us .yqq-title h2 {
  color: rgba(255, 255, 255, 0.8);
}
#yqq .yqq-join-us .yqq-title h3 {
  margin-top: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
#yqq .yqq-employment {
  padding: 50px 0 100px 0 ;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-nav-tabs {
  margin: 30px 0;
  padding: 0 20px;
  border-bottom: 1px solid #eaeaea;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-nav-tabs li {
  float: left;
  margin-right: 2px;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-nav-tabs li a {
  color: #666;
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-mark {
  padding: 30px 50px;
  margin: 15px 0 35px 0;
  position: relative;
  background: #F8F8F9;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-mark .bg-success:nth-child(3) {
  margin-bottom: 0;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-mark .bg-success {
  background: #F8F8F9;
  font-size: 18px;
  line-height: 32px;
  color: #999595;
  margin-bottom: 30px;
  text-align: left;
  font-weight: 100;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-mark .bg-success:after {
  content: "";
  width: 16px;
  height: 14px;
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  background: url('../img/blockquote.png') no-repeat 0 0;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-mark .bg-success:before {
  content: "";
  width: 16px;
  height: 14px;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: url('../img/blockquote.png') no-repeat right 0;
}
#yqq .yqq-employment .container .yqq-join-mark .yqq-mark .bg-success a {
  color: #4d9eeb;
}
#yqq .yqq-employment .container .yqq-process h2 {
  margin: 10px 0 20px 0;
  padding: 10px 30px 0 30px;
  border-bottom: 1px solid #eaeaea;
}
#yqq .yqq-employment .container .yqq-process h2 span {
  display: inline-block;
  font-size: 26px;
  color: #666;
  padding-bottom: 10px;
  border-bottom: 1px solid #00b4ed;
  margin-bottom: -1;
}
#yqq .yqq-employment .container .yqq-process .yqq-process-pic {
  margin-bottom: 10px;
  height: auto;
  width: 100%;
}
#yqq .yqq-employment .container .yqq-Jobs h2 {
  margin: 10px 0 20px 0;
  padding: 10px 30px 0 30px;
  border-bottom: 1px solid #eaeaea;
}
#yqq .yqq-employment .container .yqq-Jobs h2 span {
  display: inline-block;
  font-size: 26px;
  color: #666;
  padding-bottom: 10px;
  border-bottom: 1px solid #00b4ed;
  margin-bottom: -1;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-title {
  padding-left: 15px;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-title h3 {
  font-size: 20px;
  color: #666;
  padding: 10px 0 10px 15px;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: left;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-title h3 span {
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: -1px;
  border-bottom: 1px solid #c3c3c3;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content:hover {
  cursor: pointer;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content:hover .job-show {
  border-color: #5eccee;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content {
  padding: 10px;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content .job-show {
  display: flex;
  padding: 10px;
  border: 1px solid #efefef;
  transition: all 0.5s;
  min-height: 102px;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content .job-show .head-pic {
  width: 80px;
  height: 80px;
  padding: 0;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content .job-show .head-pic .yqq-pic-kttx {
  width: 100%;
  height: 100%;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content .job-show .yqq-jobs-address .yqq-jobs-address-h3 {
  margin: 10px 0;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content .job-show .yqq-jobs-address .yqq-jobs-address-h3 span {
  display: inline-block;
  font-size: 16px;
  color: #666;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content .job-show .yqq-jobs-address .yqq-intro {
  margin: 5px 0;
}
#yqq .yqq-employment .container .society-station .yqq-technology .yqq-technology-content .job-show .yqq-jobs-address .yqq-intro b {
  margin-left: 5px;
  color: #666;
  font-size: 12px;
  font-weight: normal;
}
#yqq .modal-dialog .modal-content {
  background: rgba(0, 180, 237, 0.9);
  color: #fff;
}
#yqq .modal-dialog .modal-content .model-header {
  padding: 15px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}
#yqq .modal-dialog .modal-content .model-header h4 {
  font-size: 24px;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt {
  padding: 5px;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt h3 {
  margin: 10px 0 20px;
  width: 100%;
  padding: 0 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt h3 .yqq-popover-post {
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt h3 span b {
  font-size: 12px;
  padding: 5px 10px;
  font-weight: normal;
  border: 1px solid rgba(243, 238, 238, 0.8);
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt .popover-jobdt {
  padding-left: 15px;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt .popover-jobdt h4 {
  margin-bottom: 10px;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt .popover-jobdt p {
  line-height: 20px;
  margin-bottom: 30px;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt .popover-jobdt .yqq-apply {
  border: 1px solid #fff;
  margin-left: 15px;
  border-radius: 30px;
  background: none;
  margin-bottom: 30px;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt .popover-jobdt .yqq-apply a {
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt .popover-jobdt .yqq-apply a i {
  display: inline-block;
  padding-right: 5px;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt .popover-jobdt .yqq-apply:hover {
  border: none;
  background: #fff;
}
#yqq .modal-dialog .modal-content .model-body .popover-show-dt .popover-jobdt .yqq-apply:hover a {
  color: #5a5aec;
}
#yqq .yqq-recruit .yqq-teamwork .yqq-partner-item .partner-masked {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #57beee;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  padding-top: 20%;
  display: none;
  font-weight: bold;
}
#yqq .yqq-recruit .partner-aisle h2 {
  margin: 10px 0 20px 0;
  padding: 10px 30px 0 30px;
  border-bottom: 1px solid #eaeaea;
}
#yqq .yqq-recruit .partner-aisle h2 span {
  display: inline-block;
  font-size: 26px;
  color: #666;
  padding-bottom: 10px;
  border-bottom: 1px solid #00b4ed;
  margin-bottom: -1;
}
#yqq .yqq-recruit .intention form {
  padding: 40px;
  margin: 40px 155px;
  border: 1px solid #eaeaea;
  background-color: #fdfdfd;
}
#yqq .yqq-recruit .intention form #partner-cust {
  display: none;
}
#yqq .yqq-recruit .intention form .partner-pan .form-group {
  margin-bottom: 15px;
}
#yqq .yqq-recruit .intention form .partner-pan button {
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
  background: #0d8db4;
}
#yqq .yqq-recruit .intention form .partner-pan button a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
}
#yqq .yqq-recruit .intention form .partner-pan button:hover {
  background: #342e8f;
  cursor: pointer;
}
#yqq .yqq-recruit .intention form input {
  width: 100%;
  height: auto;
  font-size: 14px;
  border: 1px solid #c0bbbb;
  padding: 10px;
}
#yqq .yqq-recruit .intention form textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #c0bbbb;
}
#yqq .yqq-recruit .intention form .yqq-mkt div {
  float: left;
  text-align: center;
}
#yqq .yqq-recruit .intention form .yqq-mkt div span {
  display: inline-block;
  width: 95%;
  font-size: 16px;
  color: #666;
  padding: 10px 20px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 100;
  background: #f4f4f4;
}
#yqq .yqq-recruit .intention form .yqq-mkt div:hover span {
  transition: all 0.5s;
  color: #1ec0e9 !important;
}
#yqq .yqq-recruit .intention form label {
  width: 100%;
  text-align: left;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 20px;
  color: #666;
}
#yqq .yqq-Cooperative {
  width: 100%;
  background: url('../img/bk-partner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yqq .yqq-Cooperative .yqq-title h2 {
  color: rgba(255, 255, 255, 0.8);
}
#yqq .yqq-Cooperative .yqq-title h3 {
  margin-top: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}
#yqq .Cooperative {
  color: #333;
}
