html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
.navbar .navbar-left img {
  background: url(../image/logo-top2c.png) no-repeat 0 0;
}
.navbar .navbar-right .nav-right-item {
  margin: 0 15px;
}
.navbar .navbar-right .nav-right-item a:hover {
  background: none;
}
.navbar .navbar-right .nav-right-item.open > a {
  background: none;
}
.navbar .navbar-right .nav-right-item > a {
  display: block;
  position: relative;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.navbar .navbar-right .nav-right-item > a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background: #38d1ff;
  bottom: 0;
  left: 0;
  transform: rotateY(90deg);
  transition: transform 0.6s;
  transform-origin: center center;
}
.navbar .navbar-right .nav-right-item > a:hover {
  color: #38d1ff;
}
.navbar .navbar-right .nav-right-item > a:hover .menu {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.navbar .navbar-right .nav-right-item:hover a::before {
  transform: rotateY(0deg);
}
.navbar .navbar-right .nav-right-item .dropdown-menu {
  background: #010a0f;
  padding: 0;
  border: none;
}
.navbar .navbar-right .nav-right-item .dropdown-menu li {
  box-sizing: border-box;
  padding: 5px 10px;
}
.navbar .navbar-right .nav-right-item .dropdown-menu li:hover {
  background: #00b4ed;
}
.navbar .navbar-right .nav-right-item .dropdown-menu li a {
  color: #fff;
}
.navbar .navbar-right .nav-right-item .dropdown-menu li a:hover {
  background: none;
}
.navbar .navbar-right .nav-right-item.show > a::before {
  transform: rotateY(0deg);
}
.navbar .btn-group {
  float: right;
  position: static;
}
.navbar .btn-group .row {
  margin: 0;
}
.navbar .btn-group .btn {
  background: none;
  width: 25px;
  border: none;
  margin-top: 50%;
  position: relative;
}
.navbar .btn-group .btn span {
  display: block;
  width: 20px;
  height: 3px;
  background: #ccc;
  margin: 2px 0;
  transform-origin: center center;
}
.navbar .btn-group .btn.click span {
  position: absolute;
  top: 50%;
  left: 0;
}
.navbar .btn-group .btn.click span:nth-child(2) {
  display: none;
}
.navbar .btn-group .btn.click span.animation1 {
  animation: an1 0.2s linear;
  animation-fill-mode: forwards;
}
.navbar .btn-group .btn.click span.animation2 {
  animation: an2 0.2s linear;
  animation-fill-mode: forwards;
}
.navbar .btn-group .dropdown-select {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #222a2b;
}
.navbar .btn-group .dropdown-select > li {
  padding: 0 0.8rem;
  margin: 1rem 0;
}
.navbar .btn-group .dropdown-select > li.show > div > div {
  color: #00b4ed;
}
.navbar .btn-group .dropdown-select > li div {
  line-height: 30px;
  display: flex;
  justify-content: flex-start;
}
.navbar .btn-group .dropdown-select > li div span {
  width: 4%;
  height: auto;
  color: #fff;
  margin: 0 5px;
}
.navbar .btn-group .dropdown-select > li div div {
  color: #fff;
}
.navbar .btn-group .dropdown-select > li div b {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #fff;
  transform: translateY(120%);
  margin-left: 5px;
}
.navbar .btn-group .dropdown-select > li.false ul {
  display: block;
}
.navbar .btn-group .dropdown-select > li ul {
  display: none;
}
.navbar .btn-group .dropdown-select > li ul li {
  margin: 0.5rem 0;
}
.navbar .btn-group .dropdown-select > li ul li a {
  color: #fff;
}
.indexContainer {
  width: 100%;
  height: 100%;
  min-width: 380px;
}
.indexContainer a {
  text-decoration: none;
}
.indexContainer * {
  padding-left: 0;
  padding-right: 0;
}
.indexContainer .container-fluid {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.indexContainer .small h4 {
  font-size: 10px !important;
}
.indexContainer .small p {
  font-size: 10px !important;
}
.indexContainer .small h2 {
  font-size: 28px !important;
  text-align: center !important;
}
.indexContainer .small #swiper1 .core .row.clearfix > div ul li {
  font-size: 10px !important;
}
.indexContainer .carousel-item {
  width: 100%;
  height: 100%;
}
.indexContainer .carousel-item > div {
  width: 100%;
  height: 100%;
}
.indexContainer #swiper1 {
  height: 100%;
  width: 100%;
}
.indexContainer #swiper1 .swiper-slide {
  overflow: hidden;
}
.indexContainer #swiper1 .exterior-pagination {
  position: absolute;
  right: 2%;
  top: 45%;
  transform: translateX(-50%);
  z-index: 999;
  width: 2rem;
}
.indexContainer #swiper1 .exterior-pagination span {
  background: pink;
  width: 1.5rem;
  height: 1.5rem;
  background: #d9dcdf;
}
.indexContainer #swiper1 .exterior-pagination span:hover {
  transform: scale(1.2);
}
.indexContainer #swiper1 .exterior-pagination .swiper-pagination-bullet-active {
  background: #00b4ed;
}
.indexContainer #swiper1 .exterior-pagination .swiper-pagination-bullet-active:hover {
  transform: scale(1);
}
.indexContainer #swiper1 .font {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.indexContainer #swiper1 .swiper-container {
  height: 100%;
  width: 100%;
  text-align: center;
}
.indexContainer #swiper1 .swiper-container .swiper-slide-active .bgContainer {
  animation: bgBig 10s linear;
  animation-fill-mode: forwards;
}
.indexContainer #swiper1 .swiper-container .swiper-slide {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.indexContainer #swiper1 .swiper-container .bgContainer {
  margin-top: -100px;
  height: 120%;
  width: 100%;
  transform-origin: center center;
  background: url(../image/icekredit-banner-01.jpg) no-repeat 0 0;
}
.indexContainer #swiper1 .swiper-container .menu2 .bgContainer {
  background: url(../image/campus2018.jpg) no-repeat 0 0;
}
.indexContainer #swiper1 .swiper-container .menu3 .content {
  margin-top: 300px;
}
.indexContainer #swiper1 .swiper-container .menu3 .bgColor {
  margin-top: -100px;
  height: 120%;
  width: 120%;
  background: #0e98ef url(../image/home_3_pic.png) no-repeat 80% 50%;
}
.indexContainer #swiper1 .swiper-container .menu4 .bgContainer {
  background: url(../image/bg4.jpg) no-repeat 0 0;
}
.indexContainer #swiper1 .swiper-container .menu5 .bgContainer {
  background: url(../image/beijing.jpg) no-repeat 0 0;
}
.indexContainer #swiper1 .swiper-container .swiper-pagination span {
  transition: width 0.3s;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.9);
}
.indexContainer #swiper1 .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  width: 25px;
  height: 8px;
  border-radius: 6px;
  background: #fff;
}
.indexContainer #swiper1 .swiper-container .base {
  opacity: 0;
}
.indexContainer #swiper1 .swiper-container .contentContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}
.indexContainer #swiper1 .swiper-container h2 {
  color: #fff;
  --animate-duration: 1s;
  text-align: center;
}
.indexContainer #swiper1 .swiper-container h4 {
  width: 125%;
  transform: translateX(-10%);
  margin: 50px 0;
  color: #b4bec5;
  font-size: 18px;
  line-height: 30px;
}
.indexContainer #swiper1 .swiper-container a.text {
  margin-top: 75px;
  width: 200px;
  height: 60px;
  display: inline-block;
  border-radius: 30px;
  color: #fff;
  border: 1px solid #fff;
  line-height: 60px;
  text-align: center;
}
.indexContainer #swiper1 .swiper-container a.text:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #38d1ff;
}
.indexContainer #swiper1 .swiper-container .swiper-button-prev {
  background: url(../image/aw.png) 0 0 no-repeat;
  margin-left: 5%;
}
.indexContainer #swiper1 .swiper-container .swiper-button-next {
  background: url(../image/aw.png) 0 -44px no-repeat;
  margin-right: 5%;
}
.indexContainer #swiper1 .core {
  background: #f2f5f8;
  width: 100%;
  height: 100%;
}
.indexContainer #swiper1 .core .inUp,
.indexContainer #swiper1 .core .inDown {
  opacity: 0;
}
.indexContainer #swiper1 .core .row.clearfix > div {
  height: 100%;
  position: relative;
}
.indexContainer #swiper1 .core .row.clearfix > div img {
  width: 100%;
  height: 100%;
}
.indexContainer #swiper1 .core .row.clearfix > div .imgBg2 {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #38d1ff;
  overflow: hidden;
}
.indexContainer #swiper1 .core .row.clearfix > div .imgBg2 img {
  position: absolute;
  top: 0;
  left: 0;
}
.indexContainer #swiper1 .core .row.clearfix > div h2 {
  font-size: 42px;
  color: #586975;
  margin: 40px 0;
}
.indexContainer #swiper1 .core .row.clearfix > div p {
  font-size: 16px;
  line-height: 25px;
}
.indexContainer #swiper1 .core .row.clearfix > div ul {
  padding-left: 20px;
}
.indexContainer #swiper1 .core .row.clearfix > div ul li {
  list-style-type: disc;
  line-height: 25px;
  font-size: 16px;
}
.indexContainer #swiper1 .product {
  position: relative;
  text-align: center;
}
.indexContainer #swiper1 .product .contentWrapper {
  margin-left: 0;
  margin-right: 0;
  margin-top: 15%;
}
.indexContainer #swiper1 .product .bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../image/bk-hp5.jpg) no-repeat 0 0;
  background-size: 100% 100%;
}
.indexContainer #swiper1 .product h2 {
  margin: 5rem 0;
}
.indexContainer #swiper1 .product h2 + p {
  margin: 3rem 0;
}
.indexContainer #swiper1 .product .productSwiper-pagination .swiper-pagination-bullet-active {
  width: 30px;
  height: 8px;
  border-radius: 6px;
  background: #fff;
}
.indexContainer #swiper1 .product .productSwiper-pagination .swiper-slide {
  width: 78px;
  height: 78px;
}
.indexContainer #swiper1 .product .productSwiper-pagination span {
  background: #a7a7a7;
  transition: width 0.3s;
}
.indexContainer #swiper1 .us {
  background: #0d7fc8;
  margin: 0;
}
.indexContainer #swiper1 .us .contentContainer {
  margin-top: 10%;
}
.indexContainer #swiper1 .us .contentContainer h2 {
  margin: 5rem 0;
  text-align: center;
  color: #fff;
}
.indexContainer #swiper1 .us .contentContainer .detailsList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.indexContainer #swiper1 .us .contentContainer .detailsList li {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: center;
  padding: 5% 0;
}
.indexContainer #swiper1 .us .contentContainer .detailsList li:hover {
  border: 1px solid #b4bec5;
}
.indexContainer #swiper1 .us .contentContainer .detailsList li h4 {
  color: #fff;
}
.indexContainer #swiper1 .us .contentContainer .telMap {
  padding: 1.5rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.indexContainer #swiper1 .us .contentContainer .telMap b {
  margin: 0 0.5rem;
  color: #a5e2ff;
}
.indexContainer #swiper1 .us .contentContainer .telMap li {
  display: flex;
}
.indexContainer #swiper1 .us .contentContainer .telMap li a {
  color: #a5e2ff;
}
.indexContainer #swiper1 .us .contentContainer .put {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  align-items: center;
  color: #fff;
}
.indexContainer #swiper1 .us .contentContainer .put span {
  margin: 0 5px;
}
.indexContainer #swiper1 .us .contentContainer .put p {
  margin: 0;
}
.indexContainer #swiper1 .us .contentContainer .copy {
  margin: 30px 0;
  text-align: center;
  color: #fff;
}
.indexContainer #swiper1 .us .contentContainer .smallShow {
  text-align: center;
  color: #A5E2FF;
}
.odd > .navbar .navbar-right .nav-right-item > a:hover {
  color: #fff;
}
.odd > .navbar .navbar-left img {
  background: url(../image/logo-top2.png) no-repeat 0 0;
}
.odd > .navbar .navbar-right .nav-right-item > a::before {
  background: #fff;
}
.odd .navbar a {
  color: #fff;
}
.odd .navbar > .nav-right > .nav-right-item > a:hover {
  color: #fff;
}
.small > .navbar .navbar-left img {
  background-size: 153px 30px;
}
@keyframes bgBig {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@media screen and (max-width: 768px) {
  .indexContainer .container-fluid .navbar {
    background: #2e2e2e;
  }
  .indexContainer .container-fluid .navbar .nav-left .iconLogo {
    background: url(../image/logo-top2c.png) no-repeat 0 0;
  }
  .us .telMap li {
    padding: 0.5rem 0;
  }
  .indexContainer #swiper1 .core .row.clearfix {
    padding-top: 5rem;
  }
  .indexContainer #swiper1 .us .contentContainer .detailsList li {
    padding: 0 0;
  }
  .indexContainer #swiper1 .us .contentContainer h2 {
    margin: 20px 0;
  }
  h2 {
    font-size: 22px !important;
    line-height: 32px !important;
  }
  li h4 {
    line-height: 22px;
  }
  li .iconWrapper {
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  li .iconWrapper .icon {
    width: 80px;
    height: 80px;
    background: url("../image/s6icb (2).png") no-repeat 0 0;
    background-size: 480px 160px;
  }
  li .iconWrapper.icon2 .icon {
    background-size: 480px 160px;
    background-position: -80px 0;
  }
  li .iconWrapper.icon3 .icon {
    background-size: 480px 160px;
    background-position: -160px 0;
  }
  li .iconWrapper.icon4 .icon {
    background-size: 480px 160px;
    background-position: -240px 0;
  }
  li .iconWrapper.icon5 .icon {
    background-size: 480px 160px;
    background-position: -320px 0;
  }
  li .iconWrapper.icon6 .icon {
    background-size: 480px 160px;
    background-position: -400px 0;
  }
  li:nth-child(1):hover .icon1 .icon {
    background-position: 0px -80px;
  }
  li:nth-child(2):hover .icon2 .icon {
    background-position: -80px -80px;
  }
  li:nth-child(3):hover .icon3 .icon {
    background-position: -160px -80px;
  }
  li:nth-child(4):hover .icon4 .icon {
    background-position: -240px -80px;
  }
  li:nth-child(5):hover .icon5 .icon {
    background-position: -320px -80px;
  }
  li:nth-child(6):hover .icon6 .icon {
    background-position: -400px -80px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 32px !important;
  }
  .indexContainer #swiper1 .core .row.clearfix {
    padding-top: 10rem;
  }
  h2 + .bottomText p {
    font-size: 14px !important;
    line-height: 16px !important;
  }
  li h4 {
    line-height: 27px;
  }
  li:nth-child(1):hover .icon {
    width: 100px;
    height: 100px;
    background: url("../image/s6icb (2).png") no-repeat 0 -100px;
  }
  li .iconWrapper {
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  li .iconWrapper .icon {
    width: 100px;
    height: 100px;
    background: url("../image/s6icb (2).png") no-repeat 0 0;
  }
  li .iconWrapper.icon2 .icon {
    background-position: -100px 0px;
  }
  li .iconWrapper.icon3 .icon {
    background-position: -200px 0;
  }
  li .iconWrapper.icon4 .icon {
    background-position: -300px 0;
  }
  li .iconWrapper.icon5 .icon {
    background-position: -400px 0;
  }
  li .iconWrapper.icon6 .icon {
    background-position: -500px 0;
  }
  li:nth-child(2):hover .icon2 .icon {
    background-position: -100px -100px;
  }
  li:nth-child(3):hover .icon3 .icon {
    background-position: -200px -100px;
  }
  li:nth-child(4):hover .icon4 .icon {
    background-position: -300px -100px;
  }
  li:nth-child(5):hover .icon5 .icon {
    background-position: -400px -100px;
  }
  li:nth-child(6):hover .icon6 .icon {
    background-position: -500px -100px;
  }
}
@keyframes an1 {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes an2 {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
